.DS_Store
.atom/
.idea
.packages
.pub/
build/
.dart_tool
ios/.generated/
packages
pubspec.lock
.flutter-plugins**
\.vscode/

android/\.classpath

android/\.project

android/\.settings/org\.eclipse\.buildship\.core\.prefs

# coverage
coverage
lcov.info